<ion-header>
  <ion-toolbar>
    <ion-title>Main Menu</ion-title>
  </ion-toolbar>
</ion-header>
<img style="margin:10px" src="assets\unitedsystems_logo.png" />
<h4 text-center margin-top>Main Menu</h4>
<ion-content>
  <div text-center margin-top margin-bottom=100>
    <ion-button href="/optionselect" size="small" class="ios button button-small button-solid ion-activatable ion-focusable hydrated">Find Meters Based on Route Number</ion-button>
  </div>
  <div text-center margin-top margin-bottom=100>
    <ion-button href="/meterreadings" size="small" class="ios button button-small button-solid ion-activatable ion-focusable hydrated">See Past Meter Data</ion-button>
  </div>

  <div text-center margin-top margin-bottom=100>
    <ion-button href="/customerlist" size="small" class="ios button button-small button-solid ion-activatable ion-focusable hydrated">Enter Meter Readings</ion-button>
  </div>

  <div text-center margin-top margin-bottom=100>
    <ion-button href="/login" size="small" class="ios button button-small button-solid ion-activatable ion-focusable hydrated">LOG OUT</ion-button>
  </div>
</ion-content>
